 <div class="mydiv">
 <p>Index</p>
 <table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Gift</th>
      <th>Spouse</th>
      <th>Gift</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.input %></td>
        <td><%= member.gifttext %></td>
        <td><%= member.spouse %></td>
        <td><%= member.spousegift %></td>
      <td><%= button_to 'Destroy', member_path(member),
      method: :delete,
      data: {confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</tbody>
</table>
<%= link_to 'New', new_member_path %>
<%= link_to 'Matches', members_results_path %>
</div>